/* {
outline: 1px dotted #ff0000;
} */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.eot');
  src: url('/bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),      url('/bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff'), url('/bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'), url('/bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

html, body {
  overflow-x: hidden;
}
body {
  font-size: 100%;
}
h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2em;
}
h1 {
  font-size: 96px;
  letter-spacing: 4px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}
p {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4em;
  font-size: 14px;
}
// Main
main {
  @include cover-background('pexels-photo.jpg');
}
// Main section gradient overlay
.main__gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($black, 0.4);
}
// Header
header {
  min-height: 100px;
  background-color: $white;
}
.header__content {
  width: 90%;
  margin: 0 auto;
  // Logo
  img {
    padding: 20px 0;
  }
  // Text
  .header__content-info {
    padding-top: 20px;
    float: right;
    p {
      span {
      letter-spacing: 2px;
      margin-right: 25px;
      }
    }
  }
}
// Header link button
.btn-default {
  background-color: $white;
  color: $black;
  border-radius: 0;
  border: 2px solid $black;
  margin-right: 50px;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  &:hover {
    background-color: $black;
    color: $white;
    border-radius: 0;
    border: 2px solid $black;
  }
}
// Nav bar
nav {
  width: 100%;
  background-color: $black;
  color: $white;
  ul {
    width: 90%;
    margin: 0 auto 0 0;
    list-style: none;
    li {
      display: inline-block;
      padding: 10px 2.5%;
      font-family: 'Arial', sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      -webkit-transition: all 0.35s ease;
      transition: all 0.35s ease;
      // Down arrow svg
      img {
        margin-left: 5px;
      }
      &:hover {
        background-color: $white;
        color: $black;
      }
    }
  }
}
// Hero
.hero {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: $white;
  h1 {
    margin-bottom: 25px;
  }
  h2 {
    margin-bottom: 100px;
  }
}
// Sections
section {
  text-align: center;
}
.icon-grey, .icon-white {
  margin: 20px 0;
}
// First section under hero
.cinemas-and-food {
  // Readings Cinemas
  .left {
    padding: 150px 0 250px 0;
  }
  // Food and Dining
  .right {
    padding: 250px 0 150px 0;
  }
}
// Offers and Promotions
.offers-and-promotions {
  padding-top: 100px;
}
// News and Events, Offers and Promotions with Carousel
.carousel-inner {
  width: 100%;
}
.carousel__image1, .carousel__image2, .carousel__image3, .carousel__image4, .carousel__image5, .carousel__image6  {
  height: 75vh;
}
.carousel__image1 {
  @include cover-background('red-woman-girl-brown.jpg');
  &:before {
    @include carousel-gradient;
  }
}
.carousel__image2 {
  @include cover-background('popcorn.jpg');
  &:before {
    @include carousel-gradient;
  }
}
.carousel__image3 {
  @include cover-background('chips.jpg');
  &:before {
    @include carousel-gradient;
  }
}
.carousel__image4 {
  @include cover-background('books.jpg');
  &:before {
    @include carousel-gradient;
  }
}
.carousel__image5 {
  @include cover-background('cakes.jpg');
  &:before {
    @include carousel-gradient;
  }
}
.carousel__image6 {
  @include cover-background('clothes.jpg');
  &:before {
    @include carousel-gradient;
  }
}
.carousel-caption {
  position: absolute;
  left: 50%;
  top: 52.5%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  h3 {
    letter-spacing: 4px;
  }
  a, a:visited {
    color: $white;
    text-decoration: none;
    padding-bottom: 5px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    &:hover {
      border-bottom: 2px solid $white;
      color: $white;
    }
  }
}
// Centre location
.centre-location {
  padding: 100px 0;
  p {
  text-align: left;
  font-size: 18px;
  margin-bottom: 25px;
  img {
    margin-right: 20px;
    }
  }
  a {
    font-size: 18px;
    padding: 20px 40px;
  }
}
// Sign Up
.sign-up {
  @include cover-background('bg.png');
  padding: 100px 0;
  color: $white;
  overflow: hidden;
}
form {
  padding: 50px 50px 100px;
}
.control-label {
  text-align:left;
}
input[type=email], input[type=text] {
  border-radius: 0;
  box-shadow: none;
}
// Footer
footer {
  text-align: center;
  padding-top: 100px;
}
.follow-us__icons {
  margin: 15px 15px 50px;
}
.copyright {
  padding-top: 25px;
  padding-bottom: 25px;
  border: 1px solid #CCC;
  color: #CCC;
}
